* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #edf2ec;
}

.section {
  width: 144rem;
}

.container {
  padding: 0 11rem;
  margin: 0 auto;
}

/* HEADER SECTION */

.header {
  padding: 4.2rem 0;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 8rem;
  height: 2rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.6rem;
}

.nav-link {
  font-family: "Inika", serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

.nav-link span {
  color: #e06733;
  font-weight: 700;
}

.nav-link:hover {
  border-bottom: 1px solid #000;
}

/* WELCOME SECTION */

.welcome {
  padding: 6.2rem 0;
}

.welcome .container {
  display: flex;
  gap: 22.4rem;
}

.img--welcome {
  width: 44.8rem;
  height: 40.7rem;
}

.welcome-text {
  flex-basis: 55rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.heading--primary {
  font-size: 4.5rem;
  color: #717171;
  margin-bottom: 4.2rem;
  line-height: 1.1;
}

.heading--primary span {
  color: #499a18;
}

.description {
  color: #636060;
  font-size: 2rem;
  line-height: 1.7;
}

.btn--welcome {
  background-color: #edf2ec;
  color: #000;
  border: 2px solid #e06733;
  padding: 1.1rem 2.4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  width: 15.8rem;
  margin-top: 4.8rem;
}

.btn--welcome:hover {
  background-color: #e06733;
  color: #fff;
}

/* ABOUT SECTION */

.about {
  background-color: #fff;
  padding: 9.3rem 0;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex-basis: 60.5rem;
}

.about-text .heading--secondary-serif {
  margin-bottom: 4rem;
}

.heading--secondary-serif {
  color: #499a18;
  font-family: "Inika", serif;
  font-size: 4rem;
  font-weight: 400;
}

.heading--secondary-serif span {
  color: #e06733;
}

.img--about {
  width: 46.4rem;
  height: 48rem;
}

/* SERVICE SECTION */

.service {
  padding: 5rem 0 12rem;
}

.service .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 11.5rem;
  row-gap: 5.5rem;
  align-items: center;
}

.service-buttons {
  grid-column: span 2;
  display: flex;
  gap: 4rem;
}

.btn--service {
  color: #e06733;
  font-family: "Inika", serif;
  font-size: 2rem;
  background-color: #edf2ec;
  border: 1px solid #e06733;
  border-radius: 5px;
  width: 16rem;
  height: 5rem;
  /* padding: 1rem 1.5rem; */
}

.btn--service:hover {
  background-color: #e06733;
  color: #fff;
}

.btn--service-active {
  background-color: #e06733;
  color: #fff;
}

.service-card {
  width: 33rem;
  height: 45rem;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  overflow: hidden;
}

.service-img {
  width: 100%;
}

.card-name {
  font-size: 2rem;
  color: #e06733;
  font-weight: 700;
  margin: 1rem 0;
}

.card-description {
  font-size: 1.6rem;
  color: #717171;
}

/* PRICES SECTION */

.prices {
  background-color: #fff;
  padding: 4rem 0 11.5rem;
}

.prices .container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.prices-accordeon {
  width: 33rem;
  height: 28rem;
  border: 1px solid #e3e1d5;
  border-radius: 2rem;
  padding: 3.4rem 4.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plan {
  width: 25rem;
  height: 5rem;
  padding: 1.6rem 4rem;
  background-color: #edf2ec;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-name {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}

.plan-icon {
  width: 12px;
  height: 12px;
  padding: 4px;
  background-color: #d9d9d9;
  color: #717171;
  border-radius: 50%;
}

/* .prices-column--middle {
  grid-column: 1/2;
} */

.prices-column--left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6rem;
}

.prices-column--right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.heading--secondary-sans {
  font-size: 4rem;
  color: #000;
  font-weight: 700;
}

.heading--secondary-sans span {
  color: #499a18;
}

.btn--prices {
  width: 16.2rem;
  height: 5rem;
  background-color: #fff;
  border: 1px solid #e06733;
  border-radius: 5px;
  color: #e06733;
  font-family: "Inika", serif;
  font-size: 2rem;
  font-weight: 700;
}

.btn--prices:hover {
  background-color: #e06733;
  color: #fff;
}

.prices-img {
  width: 15.2rem;
  height: 17.5rem;
}

/* CONTACT SECTION */

.contacts {
  padding-top: 6rem;
}

.contacts .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.contact-img {
  width: 40rem;
  height: 45rem;
}

.cities-container {
  width: 45rem;
  height: 28.5rem;
  align-self: center;
}

.city-drop {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 3rem;
  background-color: #d6e7d2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.city-drop--active {
  background-color: #c1e698;
  box-shadow: none;
}

.city-list-name {
  font-size: 2rem;
  color: #717171;
}

.contact-icon {
  width: 12px;
  height: 12px;
  padding: 4px;
  background-color: #aea1a1;
  color: #fff;
  border-radius: 50%;
}

.contact-icon--active {
  background-color: #8ba07e;
}

/* FOOTER SECTION */

.footer {
  padding: 4rem 0;
  background-color: #fff;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-column--left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-text {
  font-size: 2rem;
}

.footer-column--middle {
  justify-self: center;
}

.footer-img {
  height: 5rem;
}

.footer-column--right {
  justify-self: end;
  display: flex;
  gap: 2rem;
}

.footer-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #000;
}

.footer-link:link,
.footer-link:hover,
.footer-link:active,
.footer-link:visited {
  color: #000;
}
