* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #edf2ec;
}

/* HEADER SECTION */

.header {
  padding: 4.2rem 0;
}

.container {
  padding: 0 11rem;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 8rem;
  height: 2rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.6rem;
}

.nav-link {
  font-family: "Inika", serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

.nav-link span {
  color: #e06733;
  font-weight: 700;
}

/* WELCOME SECTION */

.welcome-section {
  padding: 6.2rem 0;
}

.welcome-section .container {
  gap: 22.4rem;
  display: flex;
}

.img--welcome {
  width: 44.8rem;
  height: 40.7rem;
}

.welcome-text {
  flex-basis: 55rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.heading--primary {
  font-size: 4.5rem;
  color: #717171;
  margin-bottom: 4.2rem;
  line-height: 1.1;
}

.heading--primary span {
  color: #499a18;
}

.description {
  color: #636060;
  font-size: 2rem;
  line-height: 1.7;
}

.btn--welcome {
  background-color: #edf2ec;
  color: #000;
  border: 2px solid #e06733;
  padding: 1.1rem 2.4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  width: 15.8rem;
  margin-top: 4.8rem;
}

/* ABOUT SECTION */

.about-section {
  background-color: #fff;
  padding: 9.3rem 0;
}

.about-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex-basis: 60.5rem;
}

.heading--secondary-serif {
  color: #499a18;
  font-family: "Inika", serif;
  font-size: 4rem;
  font-weight: 400;
}

.heading--secondary-serif span {
  color: #e06733;
}

.img--about {
  width: 46.4rem;
  height: 48rem;
}

/* SERVICE SECTION */

.service-section {
  padding: 5rem 0 12rem;
}

.service-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 11.5rem;
  row-gap: 5.5rem;
  align-items: center;
}

.service-buttons {
  grid-column: span 2;
  display: flex;
  gap: 4rem;
}

.btn--service {
  color: #e06733;
  font-family: "Inika", serif;
  font-size: 2rem;
  background-color: #edf2ec;
  border: 1px solid #e06733;
  border-radius: 5px;
  width: 16rem;
  height: 5rem;
  /* padding: 1rem 1.5rem; */
}

.service-card {
  width: 33rem;
  height: 45rem;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  overflow: hidden;
}

.service-img {
  width: 100%;
}

.card-name {
  font-size: 2rem;
  color: #e06733;
  font-weight: 700;
  margin: 1rem 0;
}

.card-description {
  font-size: 1.6rem;
  color: #717171;
}
